body {
    font-family: $font-family-alegreya;
    background-image: url(../assets/images/oscuro.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1.15rem;
    color: $color-primary;
    text-align: left;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 3px;
    height: 100%;
    overflow-x: hidden;
}
