.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    h3 {
        background: linear-gradient(135deg, #141313, #ffd700);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: bold;
        @include flex-row-center;
    }
}

.character-card {
    padding: 1.5rem;

    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border: none;
        background-color: $color-primary;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
    }

    img {
        transition: opacity 0.5s ease;
    }
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.character-card img:hover {
    opacity: 0.7;
}

.card-text {
    color: #0f0f0f;
    line-height: 1.3;
    letter-spacing: 0px;
    font-size: 1.1rem;
}
