.styleContainer {
    margin-bottom: 48px;
}

.carousel-indicators {
    button {
        color: $color-primary;
    }

    .active {
        background-color: $color-secondary;
    }
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.452);
    color: $color-primary;
    padding: 10px;
    border-radius: 5px;
}

.bodaRoja {
    background-color: rgba(0, 0, 0, 0.726);
}

.carousel-item {
    img {
        width: 100%;
        height: 700px;
        object-fit: cover;
        border-radius: 8px;
    }

    h3 {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
}
