.formContainer .row {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-secondary;
    margin-inline: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image,
.contact-form-container {
    display: flex;
    align-items: center;
}

.cuervo {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
