// Estilos del formulario en contacto
.formContainer .row {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-secondary;
    margin-inline: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    label {
        font-family: $font-family-cinzel;
        font-size: 1.2rem;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    }
}

.contact-image,
.contact-form-container {
    display: flex;
    align-items: center;
}

// Botón del formulario
.btnForm {
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    color: $color-primary;
    background-color: $color-accent;
    font-family: $font-family-merriweather;
    cursor: pointer;
    width: 20%;
    height: auto;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 4px #0f0f0f;

    &:hover {
        background-color: $color-accent-dark;
        color: $color-primary;
    }
}

.cuervo {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
