.youtube {
    margin-bottom: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.ratio-16x9 {
    border: 2px solid transparent;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        border: 3px solid transparent;
        animation: border-animation 2s infinite alternate;
        pointer-events: none;
    }

    @keyframes border-animation {
        0% {
            border-color: #0f0f0f;
        }
        100% {
            border-color: #ac2323;
        }
    }
}

.spotifyIframe {
    border-radius: 12px;
    width: 100%;
    max-width: 1200px;
    height: 550px;
}

#styleSpotify {
    margin-top: 45px;
}
