// Navbar
.containerNav {
    margin-inline: 4%;
}

.estiloNav {
    font-family: $font-family-merriweather;
    @include background;
    letter-spacing: 2px;
    z-index: 1000;
}

.navbar-brand {
    margin: 0;
    padding: 0;

    img {
        height: 60px;
        width: auto;
    }
}

.nav-item {
    font-size: 1.2rem;
    margin-inline: 5px;
}

.estiloNav,
.nav-link {
    color: $color-primary;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #ac2323;
    }
}

// Estilo de menú hamburguesa
.navbar-toggler {
    border: 1px solid #829e98;
}
