@font-face {
    font-family: "Merriweather Sans";
    src: url(../assets/fonts/MerriweatherSans-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Alegreya Sans SC";
    src: url(../assets/fonts/AlegreyaSansSC-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Cinzel";
    src: url(../assets/fonts/Cinzel-SemiBold.ttf);
    font-display: swap;
}
