// Fuente para nav y footer
@font-face {
    font-family: "Merriweather Sans";
    src: url(../assets/fonts/MerriweatherSans-Light.ttf);
    font-display: swap;
}

// Fuente para contenido
@font-face {
    font-family: "Alegreya Sans SC";
    src: url(../assets/fonts/AlegreyaSansSC-Light.ttf);
    font-display: swap;
}

// Fuente para títulos
@font-face {
    font-family: "Cinzel";
    src: url(../assets/fonts/Cinzel-SemiBold.ttf);
    font-display: swap;
}
