.styleTitle {
    font-family: "Cinzel", sans-serif;
    font-size: 1.8rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    color: #e6a61c;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    padding-inline: 14%;

    p {
        margin: 0;
        margin-inline: 7%;
    }

    li {
        margin-inline: 7%;

        p {
            margin-inline: 0px;
            margin-bottom: 0;
        }
    }
}
