// Títulos generales
.styleTitle {
    font-family: $font-family-cinzel;
    font-size: 1.8rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    color: $color-secondary;
    margin-top: 20px;
    margin-bottom: 20px;
}

// Contenido
.content {
    padding-inline: 14%;

    p {
        margin: 0;
        margin-inline: 7%;
    }

    li {
        margin-inline: 7%;

        p {
            margin-inline: 0px;
            margin-bottom: 0;
        }
    }
}

// Estilos del botón "volver arriba"
.text-center,
.my-4 {
    padding-top: 2em;
}

.btn,
.btn-primary,
.volver {
    font-size: 0.9rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: $color-primary;
    background-color: $color-accent;
    font-family: $font-family-merriweather;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 4px #0f0f0f;

    &:hover {
        background-color: $color-accent-dark;
        color: $color-primary;
    }

    &:active {
        background-color: #07284d;
        color: #0f0f0f;
        box-shadow: 2px 2px 10px #0f0f0f;
    }
}
