// Media queries responsive
@media (max-width: 1200px) {
    .imageTitle {
        max-width: 1000px;
    }

    .content {
        padding: 20px 30px;
    }

    .youtube {
        margin-bottom: 30px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #carrito {
        width: 70px;
        height: auto;
    }

    .estiloFooter {
        p {
            font-size: 0.65rem;
        }
    }
}

@media (max-width: 1024px) {
    .carousel-item {
        img {
            height: 500px;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .carousel-caption {
        bottom: 15px;
        padding: 8px;
    }

    .youtube {
        margin-bottom: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #carrito {
        width: 70px;
        height: auto;
    }

    .imgContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .btnForm {
        font-size: 0.8rem;
        border: none;
        border-radius: 5px;
        width: 25%;
    }

    .estiloFooter {
        p {
            font-size: 0.65rem;
        }
    }
}

// Media query específica para personajes
@media (min-width: 768px) and (max-width: 991px) {
    .character-card:last-child {
        align-self: center;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 20px 15px;
    }

    .btn,
    .btn-primary,
    .volver {
        font-size: 0.8rem;
        padding: 8px 16px;
    }

    .styleTitle,
    #h1Home {
        font-size: 1.75rem;
    }

    .carousel-item {
        img {
            height: 500px;
        }
    }

    .carousel-caption {
        width: 80%;
        padding: 8px;
        font-size: 0.9rem;

        p {
            font-size: 1.2rem;
        }
    }

    .youtube {
        margin-bottom: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #carrito {
        width: 60px;
        height: auto;
    }

    .merch {
        h2 {
            font-size: 1rem;
        }
    }

    #merchTitle,
    #h1Personajes,
    #h1Galeria,
    #contactTitle {
        font-size: 1.75rem;
    }

    .imgContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .estiloFooter {
        p {
            font-size: 0.6rem;
        }
    }

    .socialIcons {
        a {
            font-size: 17px;
            margin: 0 15px;
        }
    }
}

@media (max-width: 600px) {
    .nav-link {
        font-size: 0.875rem;
        padding: 0.4rem 0.8rem;
    }

    .containerTitle {
        padding: 70px 10px 10px 10px;
    }

    .youtube {
        margin-bottom: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-item {
        img {
            height: 500px;
        }
    }

    .carousel-caption {
        width: 80%;
        padding: 8px;
        font-size: 0.9rem;

        p {
            font-size: 1.2rem;
        }
    }

    .socialIcons {
        a {
            font-size: 17px;
            margin: 0 15px;
        }
    }

    .estiloFooter {
        p {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 576px) {
    .content {
        padding: 20px 10px;
    }

    .btn,
    .btn-primary,
    .volver {
        font-size: 0.8rem;
        padding: 8px 16px;
    }

    .styleTitle,
    #h1Home,
    #merchTitle,
    #h1Personajes,
    #h1Galeria,
    #contactTitle {
        font-size: 1.5rem;
    }

    .characters-section,
    .row {
        margin: 0;
    }

    .character-card {
        padding: 0.75rem;

        .card {
            width: 100%;
            max-width: 450px;
            margin: 0 auto;
            box-shadow: none;
        }

        img {
            width: 100%;
            height: auto;
        }

        .card-body {
            padding: 5px;
            margin-bottom: 5px;

            h2 {
                font-size: 1.2rem;
            }
        }

        .card-text {
            font-size: 0.9rem;
        }
    }

    .carousel-item {
        img {
            height: 400px;
        }
    }

    .carousel-caption {
        width: 85%;
        padding: 6px;
        font-size: 0.85rem;

        p {
            font-size: 1.1rem;
        }
    }

    .youtube {
        width: 95%;
    }

    .merch {
        h2 {
            font-size: 1rem;
        }
    }

    #carrito {
        width: 60px;
        height: auto;
    }

    .estiloFooter {
        p {
            font-size: 0.75rem;
        }
    }
}

@media (max-width: 480px) {
    .content {
        padding: 20px 5px;
    }

    .styleTitle,
    #h1Home {
        font-size: 1.25rem;
    }

    .content {
        p {
            font-size: 1rem;
        }
    }

    .btn,
    .btn-primary,
    .volver {
        font-size: 0.8rem;
        padding: 8px 16px;
    }

    .character-card {
        padding: 0.75rem;

        .card {
            width: 92%;
            max-width: 400px;
            margin: 0 auto;
            box-shadow: none;
        }

        img {
            width: 100%;
            height: auto;
        }

        .card-body {
            padding: 5px;
            margin-bottom: 5px;

            h2 {
                font-size: 1.2rem;
            }
        }

        .card-text {
            font-size: 0.9rem;
        }
    }

    .carousel-item {
        img {
            height: 300px;
        }
    }

    .carousel-caption {
        width: 90%;
        padding: 5px;
        font-size: 0.8rem;

        p {
            font-size: 1rem;
        }
    }

    .youtube {
        width: 95%;
    }

    #styleSpotify {
        margin-bottom: 20px;
    }

    #merchTitle,
    #h1Personajes,
    #h1Galeria,
    #contactTitle {
        font-size: 1.25rem;
    }

    #carrito {
        width: 70px;
        height: auto;
    }

    .row {
        label {
            font-size: 1rem;
        }
    }

    .btnForm {
        font-size: 0.8rem;
    }

    .estiloFooter {
        p {
            font-size: 0.75rem;
        }
    }
}
