// Mixins
@mixin flex-row-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/images/oscuro1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
