// Variables
$font-family-merriweather: "Merriweather Sans", sans-serif;
$font-family-alegreya: "Alegreya Sans SC", sans-serif;
$font-family-cinzel: "Cinzel", sans-serif;
$color-primary: #f5f5f5;
$color-secondary: #e6a61c;
$color-accent: #1068cc;
$color-accent-dark: #06478d;
